@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(69, 122, 190);
}

.container {
    height: 540px;
    width: 450px;
    background-color: white;
    border-radius: 8px;
}

.container h1 {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d4dbe5;
}

.wrapper {
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
    position: relative;

}

.input-box input {
    width: 100%;
    height: 54px;
    color: black;
    background: none;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaaa;
    padding: 0 2.85rem 0 1rem;
}

.input-box span {
    cursor: pointer;
    position: absolute;
    right: 13px;
    line-height: 54px;
    color: grey;
}

.wrapper .password-indicator {
    position: relative;
    width: 100%;
    height: 4px;
    background: #dfdfdf;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.wrapper .password-indicator::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.wrapper .password-indicator#weak::before {
    width: 20%;
    background-color: red;
}

.wrapper .password-indicator#medium::before {
    width: 50%;
    background-color: yellow;
}

.wrapper .password-indicator#strong::before {
    width: 100%;
    background-color: green;
}

.wrapper .password-length {
    margin: 1.56rem 0 1.25rem;
}

.wrapper .password-length .details {
    display: flex;
    justify-content: space-between;
}

.wrapper .password-length input {
    width: 100%;
    height: 5px;
}

.password-settings .options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.password-settings .options .option {
    display: flex;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.password-settings .options .option input {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.password-settings .options .option label {
    cursor: pointer;
    padding-left: 0.63rem;
}

.wrapper .generate-password {
    width: 100%;
    background-color: rgb(69, 122, 190);
    color: white;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    margin: 0.94rem 0 1.3rem;
    border-radius: 5px;

}